<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://docflow-function-ai-dnhzaeekd8f4dhea.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d954990d-5862-49ef-bf55-cbc8c9917631/resourceGroups/EmployeeDemoRG/providers/Microsoft.Web/sites/docflow-function-ai</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://docflow-function-ai-dnhzaeekd8f4dhea.scm.centralindia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>